.list_cont{
  height: 625px;
}
.reg_content{
  margin: 0;
  padding: 0;
}
.reg_center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.reg_center > input{
  position: absolute;
  top: 279px;
  width: 18px;
  height: 18px;
}
.b1{
  left: 78px !important;
}
.b2{
  left: 122px !important;
}
.b3{
  left: 168px !important;
}
.b4{
  left: 203px !important;
}
.b5{
  left: 230px !important;
}
.b6{
  left: 260px !important;
}
.b7{
  left: 288px !important;
}
.b8{
  left: 314px !important;
}
.b9{
  left: 346px !important;
}
.b10{
  left: 372px !important;
}
.b11{
  left: 400px !important;
}
.b12{
  left: 431px !important;
}
.c1{
  left: 230px !important;
}

.info_item{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.list__item{
  display: block;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid #e9e9e9;
}